* {
box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}

header {
  background: grey;
  text-align: center;
}

.profile {
  max-width: 100px;
  border-radius: 50px;
  margin-top: 30px;
}

nav {
  background-color: grey;
  text-align: center;
}

nav a {

}

main {
  flex-wrap: wrap;
  display: flex
}

.content {
  padding: 3px;
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content header {
  background-color: gray;
}

.content p {
  display: flex;
  flex-wrap: wrap;
}

.int, .web, .exp, .about {
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  flex: 0 0 400px;
  background: burlywood;
}
.about img {
  width: 200px;
  height: auto;
}

aside {
  width: 100px;
}

footer {
  text-align: center;
}

@media screen and (max-width: 900px) {
  
}
  
}