* {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
line-height: 2;
}

body {
  background-color: black;
}

main {
display: flex;
flex-wrap: wrap;
}

header {
  background: black;
  text-align: center;
}

header h1 {
  margin-bottom: 20px;
  font-size: 200%;
  color: white;
}

.profile {
  max-width: 100px;
  border-radius: 50px;
  margin-top: 30px;
}

nav {
  background-color: white;
  text-align: left;
  font-size: large;
  padding: 5px;
}

nav a {
text-decoration: none;
color: black;
text-align: left;
}

nav a:hover{
  background-color: black;
  color: white;
  padding: 20px;
}

h2 {
  margin-top: 10px;
  text-decoration: underline;
}

.content {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content header {
  font-size:large;
  color: white;
}

.content p {
text-align: center;
}

.int, .web, .cont {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  width: 500px;
  height: 700px;
  background-color: gray;
  margin-top: 10px;
  gap: 10px;
  padding: 5px;
}

.about {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  width: 1000px;
  height: 700px;
  background-color: gray;
  margin-top: 10px;
  gap: 10px;
  padding: 5px;
}

.cont {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  width: 500px;
  height: 200px;
  background-color: gray;
  margin-top: 10px;
  gap: 10px;
  padding: 5px;

}

label {
  display: inline-block;
  width: 110px;
  color: #777777;
}

.about img {
  width: 300px;
  margin-left: 100px;
  margin-top: 50px;
}

.int img {
max-block-size: 50%;
margin-left: 30px;
margin-top: 30px;
}

.web img{
margin-left: 60px;
margin-top: 30px;
}

footer {
  text-align: center;
  color: white;
}

@media screen and (max-width: 700px)