body {
  background-color: black;
  line-height: 2;
  flex-direction: row;
}

header {
  background: black;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
  font-size: 200%;
  color: white;
}

.profile {
  max-width: 100px;
  border-radius: 50px;
  margin-top: 30px;
}

nav {
  background-color: white;
  text-align: left;
  font-size: large;

}

nav a {
text-decoration: none;
color: black;
text-align: left;
}

nav a:hover{
  background-color: black;
  color: white;
  padding: 20px;
}

main {
  display: flex;
  flex-wrap: wrap
}

aside {
color: white;
background-color: black;
border: 2px;
padding: 50px;

}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content :hover {
  background-color: white;
}

.content header {
  font-size:medium;
  padding: 10px;
  color: white;
}

.content p {
text-align: center;
}

.int, .web, .about {
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  width: 500px;
  height: fit-content;
  background-color: gray;
}

.about img {
  width: 300px;
  margin-left: 100px;
}

.int img {
  width: 300px;

}

.web img{
width: 200px;
}

footer {
  text-align: center;
}

@media screen and (max-width: 900px) {
  
}